.btn {
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
}

.btn:hover {
  background: var(--text-color);
  color: var(--accent-color);
}

.btn--primary {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
}

.btn--secondary {
  background-color: var(--text-color);
  color: var(--accent-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
}
