.subscribe__container {
  background: var(--primary-color);
  height: 202px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .subscribe__container {
    margin-bottom: 30px;
  }
}

.subscribe__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.subscribe__img {
  margin-right: 10px;
}

.subscribe__text {
  padding-top: 10px;
  color: var(--text-color);
  margin-bottom: 0px;
}

.subsribe__form {
  padding: 10px 20px;
}

.modal__title {
  color: var(--text-color);
}

.modal__body {
  color: var(--text-color);
}
